:root {
    --color-principal: #000000;
    --color-acento: #D4AF37;
    --color-texto: #ffffff;
    --color-gris: #1a1a1a;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-principal);
    color: var(--color-texto);
    scroll-behavior: smooth; /* Desplazamiento suave entre secciones */
}

/* Navegación */
nav {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: rgba(0,0,0,0.95);
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--color-acento);
}

nav a {
    color: var(--color-texto);
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-peña {
    max-width: 250px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in;
}

h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
}

.subtitle {
    color: var(--color-acento);
    letter-spacing: 3px;
    margin-top: 10px;
}

/* Formulario */
.contacto-section {
    padding: 100px 20px;
    background-color: var(--color-gris);
    display: flex;
    justify-content: center;
}

.contacto-container {
    width: 100%;
    max-width: 500px;
    background: #000;
    padding: 40px;
    border: 1px solid #333;
}

.form-group { margin-bottom: 15px; }

input, textarea {
    width: 100%;
    padding: 12px;
    background: #111;
    border: 1px solid #333;
    color: white;
    margin-top: 5px;
}

input:focus { border-color: var(--color-acento); outline: none; }

.btn-enviar {
    width: 100%;
    padding: 15px;
    background: var(--color-acento);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
/* Estilos Galería */
.galeria {
    padding: 80px 20px;
    text-align: center;
}

.galeria h2, .ubicacion h2 {
    color: var(--color-acento);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

.contenedor-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.foto img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Para que las fotos no se deformen */
    border: 1px solid #333;
    transition: transform 0.3s ease;
}

.foto img:hover {
    transform: scale(1.05);
    border-color: var(--color-acento);
}

/* Estilos Ubicación */
.ubicacion {
    padding: 60px 0;
    background-color: #050505;
    width: 100%;
}

.mapa-contenedor {
    filter: grayscale(1) invert(1) contrast(1.2); /* Efecto de mapa oscuro elegante */
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid var(--color-acento);
}
